.main {
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
    height: 550px;
    color:white;
    background: #f7fdff;
}

.sub-main {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Stack elements vertically */
    height: 28em;
    width: 35em;
    box-shadow: 11px 12px 13px 12px #f3eded;
    padding-top: 30px;
    border-radius: 60px;
    background-color: #3d3d3d;
}

.email, .pass {
    display: flex;
    flex-direction: column; /* Align label and input vertically */
    align-items: center; /* Center elements horizontally */
    margin: 20px -38px; /* Space between inputs */
}

.email label, .pass label {
    font-size: 20px; /* Consistent font size for labels */
}

input {
    width: 15em; /* Full width input */
    height: 40px;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 10px;
    padding-left: 15px; /* Add some padding inside the input */
}

.input {
    font-size: 20px; /* Ensure consistent font size for inputs */
}

.login-button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background: #4ad0ef;
    border-style: none;
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background: #bcfcff;
}

.link {
    font-size: 15px;
    font-weight: 400;
}

a {
    color: rgb(255, 255, 255);
}
.reg{
    color: white;
}
.reg:hover{
    color: #67e3ff;
    
}

@media (max-width: 1050px){
    .sub-main {
        display: flex;
        justify-content: center;
        flex-direction: column; /* Stack elements vertically */
        height: 28em;
        width: 35em;
        box-shadow: 11px 12px 13px 12px #f3eded;
        padding-top: 30px;
        border-radius: 60px;
        background-color: #3d3d3d;
    }
}
@media (max-width: 700px){
    .sub-main {
        display: flex;
        justify-content: center;
        flex-direction: column; /* Stack elements vertically */
        height: 28em;
        width: 35em;
        box-shadow: 11px 12px 13px 12px #f3eded;
        padding-top: 30px;
        border-radius: 60px;
        background-color: #3d3d3d;
    }
}
