.card {
    background: #4ad0ef;
    height: 400px;
    width: 240px;
    margin-top: 25px;
    margin-left: 58px;
    border-radius: 20px;
    border-color: white;
    border-width: 10px;
    }
    .container {
      background:transparent;
      height: 40px;
    }
    .book
{
  width: 240px;
  margin-top: 31px;
  background: transparent;
  border-style: none;
  color: #4ad0ef;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  justify-content: center;
  display: flex;
}
.book:hover {
  background-color: #bcfcff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
} 
  .img_movie{
    border-color: aliceblue;
    border-width: 8px;
  }
  
  